.DS_Store
node_modules
/dist
/custom-avatar

# local env files
.env.local
.env.*.local
*.env*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
components.d.ts
3.57 332 1.17
# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
package-lock.json
yarn.lock
components.d.ts
