@import url("./normalize.less");

* {
    user-select: none; /* 火狐 */
    user-select: none; /* webkit浏览器 */
    user-select: none; /* IE10 */
    user-select: none;

    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    line-height: 1;

    .scroll-hide;
}

html,
body {
    width: 100%;
    overflow: hidden;
}

body {
    position: relative;
    height: 100vh;
    font-family: 黑体, serif;
}

img {
    display: block;
}

a:hover,
a:visited,
a:link,
a:active {
    color: inherit;
    text-decoration: none;
}


.scroll-hide {
    &::-webkit-scrollbar {
        width: 0;
        display: none;
    }
}

#app {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    color: #f4f4f4;
}


@media only screen and (max-width: 768px) {
    #app {
        //.scroll-hide;
    }
}
